<footer id="footer">
       <div class="footer-content">
           <!-- <h3> The Literary and Debating Club </h3>
           <p>NITCandid</p> -->
           <!-- <a href="https://www.lndnitc.org/"><img class="footer-img"src="https://www.lndnitc.org/images/logo.png" alt="logo-footer"></a> -->
           <img class="footer-logo-img"src="images/LOGOtransparentWhite.png" alt="logo">
           <ul class="socials">
             <!-- <li><a href="https://github.com/Rahul7-77"><img class="footer-img"src="https://www.lndnitc.org/images/logo.png" alt="logo-footer"></a></li> -->
               <li><a href="mailto:lnd@nitc.ac.in"><i class="fa fa-envelope"></i></a></li>
               <li><a href="https://www.instagram.com/donttellthewarden/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCeJ-uVnSCKQQNRaEz4OsKXA/featured"><i class="fa fa-youtube-play"></i></a></li>
               <li><a href="https://www.linkedin.com/company/literary-debating-club-nitc/"><i class="fa fa-linkedin-square"></i></a></li>
               <li><a href="https://www.facebook.com/lndnitc/"><i class="fa fa-facebook"></i></a></li>
           </ul>
           <p style="font-size:15px;">The Literary and Debating Club &copy;NITCandid </p>
       </div>
   </footer>

</body>
</html>
