<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NITCandid</title>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link
     rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
   />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse" style="font-size:16px;top:0;padding-top:1%;padding-bottom:1%;">
    <!-- <div class="top">
     <img src="images/LOGOtransparentWhite.png" alt="logo">
    </div> -->
        <div class="container-fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/ans"><img class="header-logo-img"src="images/LOGOtransparentWhite.png" alt="logo"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="active"><a href="#">Home</a></li> -->
              <li><a href="/jnrback">Main</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Give Answers<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" style="font-size:16px;">
                  <li><a href="/snrsans"> Add Academics Answers</a></li>
                  <li><a href="/club-one"> Add Co-Curricular Answers</a></li>
                  <li><a href="/hostel-one"> Add Campus Life Answers</a></li>
                  <li><a href="/general-one"> Add General Answers</a></li>
                  <li><a href="/faq-one"> Add Faq Answers</a></li>
                </ul>
              </li>
              <li><a href="/main">Questions Came</a></li>
              <li><a href="#">Contact</a></li>
              <!--  -->
              <li>
                <a href="/logout"
                  ><span class="glyphicon glyphicon-log-in"></span> LogOut</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
