<%- include('partials/header') %>


<div class="admin-user">

    <h1 class="academic-one">We answer your questions!</h1>
    <div class="user-submit-greet">
      <p>
        We will answer your question once we see them.Keep checking the website.......
        </p>
    </div>
  </div>

<%- include('partials/footer') %>
