<%- include('partials/snrheader') %>

<div class="admin-home">


<h1 class="admin-greeting">Hello Admin</h1>
<p class="admin-msg">
  Kindly go through the links below and answer questions accordingly
  </p>
  <div class="admin-links">


<a class="btn btn-dark btn-lg" href="/main" role="button">Questions came</a>
<a class="btn btn-dark btn-lg" href="/faq-one" role="button">Add Faq qns</a>
<a class="btn btn-dark btn-lg" href="/snrsans" role="button">Add academic qns and ans</a>
<a class="btn btn-dark btn-lg" href="/club-one" role="button">Add Co-Curricular qn and ans</a>
<a class="btn btn-dark btn-lg" href="/hostel-one" role="button">Campus Life qn and ans</a>
<a class="btn btn-dark btn-lg" href="/general-one" role="button">General qn and ans</a>
<a class="btn btn-dark btn-lg" href="/logout" role="button">Log out</a>
</div>
</div>


<%- include('partials/footer') %>
