<%- include('partials/snrheader') %>

<h1 class="submit-one">Not Quora</h1>
<div class="jnr-askqn">
    <form action="/faq-submit" method="POST">

      <div class="hii">
        <input type="text" class="jnr-topic" name="question" placeholder="What's your question?">
      <!-- <button type="submit" class="btn btn-dark">Submit</button> -->
      <textarea class="ans-textarea" type="text" name="answer" rows="7" cols="30" placeholder="what is the answer?"></textarea>
    </div>

      <button type="submit" class="ans-button">Submit</button>
    </form>
  </div>



<%- include('partials/footer') %>
